@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(111, 180, 236);

}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 240px;
  background: white;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(10, 56, 58);
  display: table;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 55px;
  top: 18px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 15px;
  margin-left: 10px;
}
a:hover{
  color: blue;
  font-size: 18px;
}
a:hover i{
  color: blue;
}
.logout{
  margin-left: 10%;
}

.container{
  display: flex;
}
.main{
  position: relative;
  padding: 20px;
  width: 100%;
  margin-left: 0px;
}
.main-content{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.page{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

}

/* Tbales */
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #3320B5;
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
  text-align: center;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}
.table button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5rem;
}

/* Form */
.vehicle {
  width: 10%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #0c08f1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #05045e;
}
label{
  font-weight: bold;
}
/* Analytics */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  justify-content: space-between;
  margin-left:10px;
  background: rgb(137, 182, 240);

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info {
  padding: 5px 16px;
}
h1{
  text-align: center;
}
.main-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding: 10px 10px 10px 10px;
}

.error{
  color: red;
  font-size: 15px;
}
.success{
  color:rgb(0, 30, 128);
  font-size: 15;

}